.my-5 {

  background-color: #F5F5F5 !important;
  /* overflow:auto; */
  /* padding-bottom:150px; this needs to be bigger than footer height */
}

body {
  /* height: 100%; */

  background-color: #F5F5F5 !important;
  /* padding-bottom: 70px; */
}

.imgBlog {
  border-radius: 5px 5px 0 0;
}

body>main>div>section>footer>div.container.pt-4>section>a>i {

  color: var(--third-color);
}

body>main>div>section>footer>div.container.pt-4>section>a>i:hover {

  color: var(--fourth-color);
}

.cart {
  display: inline;
  position: relative;
  background-color: rgb(238, 126, 126);
  border-radius: 50%;
  padding: 8px;
  font-size: 8px;
  bottom: 20px;
  right: 2px;
  border: 1px solid crimson;

}